<% @questions.each do |question| %>
  <div id="question-<%= question.id %>-wrapper">
    <%= render 'respond', question: question %>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="list-group" align="center">
    <strong>
      <%= link_to 'Get New Questions',
          new_question_path,
          remote: true,
          class: "list-group-item list-group-item-info" %>
      <%= link_to 'Write Your Own Question',
          new_question_path,
          class: "list-group-item list-group-item-info" %>
    </strong>
  </div>
</div>

<div class="panel panel-default">
  <div class="list-group" align="center">
  </div>
</div>